#carboncycle{
    position: static;
    width: 100vw;
    height: 80vh;
    margin-top: 15px;
    /* background-color: aqua; */

}

#carboncycle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    max-width: 50%;
    height: auto;
    border: 2px solid black;
    /* Make the image a bit darker to fit the color theme */
    filter: brightness(85%);
    z-index: 1;
}

#image_text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    width: 50%;
    height: 70vh;
    /* background-color: blueviolet; */
    z-index: 2;
    margin-top: -500px;

}
/* Dissolution */
#process1 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: 70%;
    left: 10%;
    width: 10%;
    z-index: 3;
    opacity: 1;
    /*border: 2px solid black;*/
    border-radius: 25px;
    padding: 10px;
    text-align: center;    
}
#process1_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: 70%;
    left: 10%;
    width: 20%;
    z-index: 2;
    opacity: 0;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}
/* Biomass production */
#process2 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: 0vh;
    left: 10vw;
    width: 120px;
    z-index: 3;
    opacity: 1;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

#process2_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -8vh;
    left: 10vw;
    width: 200px;
    z-index: 2;
    opacity: 0;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}
/* Decomposition */
#process3 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: -23vh;
    left: 27vw;
    width: 120px;
    z-index: 3;
    opacity: 1;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

#process3_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -30vh;
    left: 23vw;
    width: 200px;
    z-index: 2;
    opacity: 0;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}
/* Fossil fuel */
#process4 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: -24vh;
    left: 20vw;
    width: 120px;
    z-index: 3;
    opacity: 1;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

#process4_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -40vh;
    left: 18vw;
    width: 200px;
    z-index: 2;
    opacity: 0;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}
/* Combustion */
#process5 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: -100vh;
    left: 5vw;
    width: 120px;
    z-index: 3;
    opacity: 1;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

#process5_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -105vh;
    left: 3vw;
    width: 200px;
    z-index: 2;
    opacity: 0;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}
/* Photosynthesis */
#process6 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: -95vh;
    left: 39vw;
    width: 120px;
    z-index: 3;
    opacity: 1;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

#process6_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -100vh;
    left: 37vw;
    width: 200px;
    z-index: 2;
    opacity: 0;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

/* Sedimentation */
#process7 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: -95vh;
    left: 32vw;
    width: 120px;
    z-index: 3;
    opacity: 1;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

#process7_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -95vh;
    left: 32vw;
    width: 200px;
    z-index: 2;
    opacity: 0;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

/* Ground release */
#process8 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: -118vh;
    left: 7vw;
    width: 120px;
    z-index: 3;
    opacity: 1;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

#process8_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -130vh;
    left: 7vw;
    width: 200px;
    z-index: 2;
    opacity: 0;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

