#carboncycle{
    width: 50%;
    min-width: 750px;
    min-height: 500px;
    aspect-ratio: 960 / 645; /* NOTE only supported in newer browsers */
    display: flex;
    margin: 15px auto;
    position: relative;
    justify-content: center;
}

#carboncycle img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    width: 100%;
    height: auto;
    /* Make the image a bit darker to fit the color theme */
    filter: brightness(85%);
    z-index: 1;
}
#image_text{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 25px; 
    font-size: 80%;
}
/* Dissolution */
#process1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.747);
    top: 10%;
    left: 77%;
    width: 15%;
    min-width: 100px;
    z-index: 3;
    opacity: 1;
    /*border: 2px solid black;*/
    border-radius: 25px;
    padding: 10px;
    text-align: center;    
    font-size: 80%;
}
#process1_text {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 8%;
    left: 77%;
    width: 15%;
    min-width: 100px;
    z-index: 2;
    opacity: 0;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 80%;
}
/* Biomass production */
#process2 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.747);
    top: 38%;
    left: 25%;
    width: 15%;
    min-width: 100px;
    z-index: 3;
    opacity: 1;
    border-radius: 25px; 
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

#process2_text {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 35%;
    left: 25%;
    width: 15%;
    min-width: 100px;
    z-index: 2;
    opacity: 0;
    border-radius: 25px; 
    font-size: 80%;
    padding: 10px;
    text-align: center;
}
/* Decomposition */
#process3 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.747);
    top: 45%;
    left: 54%;
    width: 15%;
    min-width: 100px;
    z-index: 3;
    opacity: 1;
    border-radius: 25px; 
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

#process3_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: 42%;
    left: 54%;
    width: 15%;
    min-width: 100px;
    z-index: 2;
    opacity: 0;
    border-radius: 25px; 
    font-size: 80%;
    padding: 10px;
    text-align: center;
}
/* Fossil fuel */
#process4 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.747);
    top: 67%;
    left: 40%;
    width: 15%;
    min-width: 100px;
    z-index: 3;
    opacity: 1;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

#process4_text {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 64%;
    left: 40%;
    width: 15%;
    min-width: 100px;
    z-index: 2;
    opacity: 0;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}
/* Combustion */
#process5 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.747);
    top: 5%;
    left: 15%;
    width: 15%;
    min-width: 100px;
    z-index: 3;
    opacity: 1;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

#process5_text {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 2%;
    left: 15%;
    width: 15%;
    min-width: 100px;
    z-index: 2;
    opacity: 0;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}
/* Photosynthesis */
#process6 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.747);
    top: 35%;
    left: 75%;
    width: 15%;
    min-width: 100px;
    z-index: 3;
    opacity: 1;
    border-radius: 25px; 
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

#process6_text {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 32%;
    left: 75%;
    width: 15%;
    min-width: 100px;
    z-index: 2;
    opacity: 0;
    border-radius: 25px; 
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

/* Sedimentation */
#process7 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.747);
    top: 80%;
    left: 65%;
    width: 15%;
    min-width: 100px;
    z-index: 3;
    opacity: 1;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

#process7_text {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 77%;
    left: 65%;
    width: 15%;
    min-width: 100px;
    z-index: 2;
    opacity: 0;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

/* Ground release */
#process8 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.747);
    top: 75%;
    left: 5%;
    width: 30%;
    min-width: 100px;
    z-index: 3;
    opacity: 1;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

#process8_text {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 72%;
    left: 5%;
    width: 30%;
    min-width: 100px;
    z-index: 2;
    opacity: 0;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

