#carboncycle{
    position: static;
    width: 100vw;
    height: 80vh;
    margin-top: 15px;
    /* background-color: aqua; */

}

#carboncycle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    max-width: 50%;
    height: auto;
    /* Make the image a bit darker to fit the color theme */
    filter: brightness(85%);
    z-index: 1;
}
#image_text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    width: 50%;
    top:0%;
    left:0%;
    /*top: 100px;
    width: 50%;
    margin-top: -500px;*/
    /* background-color: blueviolet; */
    z-index: 2;
    border-radius: 25px;
    padding: 10px;
    text-align: center;    
    font-size: 80%;

}
/* Dissolution */
#process1 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: -57em;
    left: 77%;
    width: 15%;
    z-index: 3;
    opacity: 1;
    /*border: 2px solid black;*/
    border-radius: 25px;
    padding: 10px;
    text-align: center;    
    font-size: 80%;
}
#process1_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -60em;
    left: 77%;
    width: 15%;
    z-index: 2;
    opacity: 0;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 80%;
}
/* Biomass production */
#process2 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: -45em;
    left: 25%;
    width: 15%;
    z-index: 3;
    opacity: 1;
    border-radius: 25px; 
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

#process2_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -48em;
    left: 25%;
    width: 15%;
    z-index: 2;
    opacity: 0;
    border-radius: 25px; 
    font-size: 80%;
    padding: 10px;
    text-align: center;
}
/* Decomposition */
#process3 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: -60em;
    left: 54%;
    width: 15%;
    z-index: 3;
    opacity: 1;
    border-radius: 25px; 
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

#process3_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -63em;
    left: 54%;
    width: 15%;
    z-index: 2;
    opacity: 0;
    border-radius: 25px; 
    font-size: 80%;
    padding: 10px;
    text-align: center;
}
/* Fossil fuel */
#process4 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: -50em;
    left: 40%;
    width: 15%;
    z-index: 3;
    opacity: 1;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

#process4_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -53em;
    left: 40%;
    width: 15%;
    z-index: 2;
    opacity: 0;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}
/* Combustion */
#process5 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: -105em;
    left: 15%;
    width: 15%;
    z-index: 3;
    opacity: 1;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

#process5_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -108em;
    left: 15%;
    width: 15%;
    z-index: 2;
    opacity: 0;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}
/* Photosynthesis */
#process6 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: -95em;
    left: 75%;
    width: 15%;
    z-index: 3;
    opacity: 1;
    border-radius: 25px; 
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

#process6_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -98em;
    left: 75%;
    width: 15%;
    z-index: 2;
    opacity: 0;
    border-radius: 25px; 
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

/* Sedimentation */
#process7 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: -85em;
    left: 65%;
    width: 15%;
    z-index: 3;
    opacity: 1;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

#process7_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -88em;
    left: 65%;
    width: 15%;
    z-index: 2;
    opacity: 0;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

/* Ground release */
#process8 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    top: -95em;
    left: 5%;
    width: 30%;
    z-index: 3;
    opacity: 1;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

#process8_text {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -98em;
    left: 5%;
    width: 30%;
    z-index: 2;
    opacity: 0;
    border-radius: 25px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

