#correlation_container {
    width: 80%;
    margin: 0 auto;
    /* background-color: #FE5F55; */
    position: static;
    margin-top: 15px;
}

#correlation_heatmap {
    /* make it a positioned element,so that it can be offsetParent for tooltip_corr div */
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.tooltip_corr {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
}

#dropdown-menu_correlation {
    height: 20px;
    width: 100px;
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    align-content: center;
}