@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
    --color-bg:     #1B2F33; /* gunmetal */
    --color-bg-d:   #1B2F44; /* gunmetal */
    --color-hl:     #4E878C; /* dark cyan */
    --color-text:   #D4F5F5; /* light cyan */
    --color-failure:#FE5F55; /* bittersweet */
    --color-success:#5FAD56; /* mantis */
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, var(--color-bg), var(--color-bg-d));
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: 'Lato';
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center
    
}

.logo #name {
    margin-left: 10px;
    color: var(--color-text);
}

.logo #img {
    width: 30px;
    height: 30px;
}

.navigation a {
    text-decoration: none;
    color: var(--color-text);
    transition: background-color .3s;
    padding: 6px 10px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover {
    background-color: var(--color-hl);
}

.description {
    font-family: 'Lato';
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
    color: var(--color-text);
}

.description #desc {
    margin-top: 20px;
}

.world_viz p {
    font: 'Lato';
    color: var(--color-text);
    text-align: center;
}

.maps {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.map_container {
    height: 350px;
    width: 750px;
    align-items: center;
    display: block;
    margin: auto;
}

.slidecontainer {
    width: 25%;
    height: 15px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 'Lato';
    color: var(--color-text);
    padding: 20px;
}

.slidecontainer p {
    padding-left: 20px;
    padding-right: 20px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 5px;
    background: var(--color-text);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
/* Chrome, Opera, Safari, Edge */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--color-hl);
    cursor: pointer;
    border-radius: 50%;
}

/* Firefox style override */
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: var(--color-hl);
    cursor: pointer;
    border-radius: 50%;
}