@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
    --color-bg: #8CA1C0 ;
    /* gunmetal */
    --color-bg-d: #b4cba3;
    /* gunmetal */
    --color-hl: #4E878C;
    /* dark cyan */
    --color-text: #2a2a2a;
    /* light cyan */
    --color-failure: #FE5F55;
    /* bittersweet */
    --color-success: #5FAD56;
    /* mantis */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #8CA1C0, #8CA1C0, #b4cba3, #b4cba3);
    overflow-x: hidden;
    font-family: 'Raleway';
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center
}

.logo #name {
    margin-left: 10px;
    color: var(--color-text);
}

.logo #img {
    width: 30px;
    height: 30px;
}

.navigation a {
    text-decoration: none;
    color: var(--color-text);
    transition: background-color .3s;
    padding: 6px 10px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover {
    background-color: var(--color-hl);
}

.description {
    position: static;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
    margin: 0 auto;
    color: var(--color-text);
    width: 80%;
    font-size: large;
}

.section_header {
    margin-bottom: 150px;
    font-weight: bolder;
}

#climate_left {
    margin-top: 100px;
    margin-right:800px;
}

#climate_right {
    margin-top: 100px;
    margin-left: 800px;
}

#climate_transition {
    margin-top: 300px;
    margin-right: 400px;
    margin-left: 400px;
    font-size: larger;
}

#journey {
    margin-top: 400px;
}

#climate_center {
    margin-top: 50px;
    margin-right: 300px;
    margin-left: 300px;
}

.viz_box {
    padding-top: 200px;
    margin: 0 auto;
    width: 80%;
}

.viz_box_no_topmargin {
    margin: 0 auto;
    width: 80%;
}


.info_box {
    border: 1px solid var(--color-text);
    border-radius: 25px;
    display: flex;
    padding: 5px 15px 5px 15px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
}

.info_icon {
    width: 16px;
    height: 16px;
}

.info_text {
    padding-left: 10px;
    font-size: smaller;
}


/* For overlapping rules  */
#fromSlider {
    height: 0;
    z-index: 1;
}


/* ### WORLD MAP STYLING ### */
.world_viz {
    margin-top: 25px;
}

.worldmap_text {
    margin-right: 300px;
    margin-left: 300px;
    padding-top: 50px;
    text-align: center;
    color: var(--color-text);
}

.world_viz p {
    color: var(--color-text);
    text-align: center;
}

.maps {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}

.map {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.map_container {
    height: 350px;
    width: 750px;
    align-items: center;
    display: block;
    margin: auto;
}

#map_sel_ft {
    align-self: center;
}

.scale {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-data-color {
    width: 20px;
    height: 20px;
    margin: 20px 30px 20px 10px;
    background-color: #AAA;
}

.scale-grad {
    width: 75px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


#animation_btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: transparent;
    border: none;
    color: var(--color-text);
    padding: 12px 12px;
    cursor: pointer;
}

.btn img {
    width: 15px;
    height: 15px;
}

.slidecontainer {
    width: 25%;
    margin: auto;
    color: var(--color-text);
}

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    height: 5px;
    background: var(--color-text);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

#slider-dates {
    padding-top: 0.5em;
    padding-bottom: 1em;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.country_details_visibility {
    display: none;
}

/* ### COUNTRY DETAILS STYLING ### */
.country-details {
    width: 65%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-text);
}

#country-name {
    text-decoration-line: underline;
    margin-bottom: 15px;
}


/* ### STATS GRAPH STYLING ### */
#stats_text {
    padding-top: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
}

#stats_section {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    /*background-color: red;*/
    align-items: center;
}

/* ### Heatmap ### */
#correlation_container {
    width: 70vw;
    margin: 50px auto;
    /* background-color: #FE5F55; */
    position: static;
}

#correlation_heatmap{
    /* make it a positioned element,so that it can be offsetParent for tooltip_corr div */
    position: relative; 
}

.tooltip_corr {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
}

#dropdown-menu_correlation {
    height: 20px;
    width: 100px;
    font-size: 20px;
    margin-left: 25vw;

}

